.header {
    width: 100%;
    background: rgb(174, 209, 238);
    background: radial-gradient(circle, rgba(174, 209, 238, 1) 0%, rgba(175, 223, 195, 0.38139005602240894) 54%, rgba(163, 217, 176, 0.5578606442577031) 100%, rgba(164, 233, 148, 0.5270483193277311) 100%);
    padding: 15px;

}

.nav {
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
}


.link {
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
    margin-right: 20px;
    color: #356076;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    transition: all 0.5s ease-out;

}

.link:hover {
    color: #40a6d8;
}

.iconlink {
    fill: #356076;
}